<template>
  <transition v-show="isShow" name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-body">
            <input
              type="text"
              class="modal-input-title"
              :value="title"
              @input="updateTitle($event.target.value)"
            >
            <textarea
              class="modal-input-description"
              :value="description"
              @input="updateDescription($event.target.value)"
              rows="10"
            ></textarea>
          </div>

          <div class="modal-footer">
            <button class="modal-default-button" @click="close">
              Cancel
            </button>
            <button class="modal-default-button" @click="$emit('on-update')">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { ref } from 'vue';

export default {
  name:'CardFormPopup',
  props: {
    title: String,
    description: String,
  },
  setup(props, { emit }) {
    let isShow = ref(false);
    const open = () => {
      isShow.value = true;
    }
    const close = () => {
      isShow.value = false;
    }

    const updateTitle = value => {
      emit('update:title', value);
    }
    const updateDescription = value => {
      emit('update:description', value);
    }
    return {
      isShow,
      open,
      close,
      updateTitle,
      updateDescription
    }
  }
}
</script>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;

  display: table;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);

  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  transition: all 0.3s ease;
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  .modal-input {
    &-title {
      margin-bottom: 12px;
    }

    &-title,
    &-description {
      flex: 1;
      padding: 8px;
      font-size: 16px;
    }
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>