<template>
  <div 
    class='card' 
    :draggable="true"
  >
    <div class="card-title">{{ task.title }}</div>
    <div class="card-description">{{ task.description }}</div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    task: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss">
  .card {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    background-color: #fff;

    &-title {
      font-weight: 600;
    }

    &-description {
      color: #817c7c;
    }
  }
</style>