<template>
  <div class="groups">
    <div
      v-for="group in groups"
      :key="group.id"
      class='group-item'
      @drop='onDrop($event, group.id)' 
      @dragover.prevent
      @dragenter.prevent
    >
      <h2>{{group.title}}</h2>
      <card
        v-for='task in getTaskListByGroupID(group.id)'
        :key="task.id"
        :task="task"
        @dragstart='startDrag($event, task)'
        @click="showForm(task)"
      />
      <input
        type="text"
        class="input-new-task"
        @keypress.enter="addTask($event, group.id)"
        placeholder="+ Enter name task"
      >
    </div>
    <div class="group-item">
      <input
        type="text"
        class="input-new-group"
        @keypress.enter="addGroup"
        placeholder="Enter name group"
      >
    </div>
  </div>
  <card-form-popup
    ref="cardForm"
    v-model:title="taskSelected.title"
    v-model:description="taskSelected.description"
    @on-update="onUpdateTask"
  />
</template>

<script>
import { generalId } from '../utils/helpers';
import * as Services  from '../utils/services';
import { ref, onMounted } from 'vue';

import Card from './Card';
import CardFormPopup from './CardFormPopup';

export default {
  components: {
    Card,
    CardFormPopup
  },

  setup(props, context) {
    console.log('context', context);

    let tasks = ref([]);
    let groups = ref([]);
    let taskSelected = ref({});

    const cardForm = ref(null);

    onMounted(() => {
      groups.value = Services.getGroupList();
      tasks.value = Services.getTaskList();
    });

    const startDrag = (e, item) => {
      e.dataTransfer.dropEffect = 'move';
      e.dataTransfer.effectAllowed = 'move';
      e.dataTransfer.setData('itemID', item.id);
    }
    const onDrop = (e, groupID) => {
      const itemID = e.dataTransfer.getData('itemID');
      const item = tasks.value.find(item => item.id === itemID);
      item.groupID = groupID;
      Services.setTaskList(tasks.value);
    }
    const getTaskListByGroupID = (groupID) => {
      return tasks.value.filter(task => task.groupID === groupID);
    }
    const addTask = (e, groupID) => {
      let {target: {value}} = e;
      if(!value.trim()) {
        return;
      }
      tasks.value.push({
        id: generalId(),
        title: value,
        groupID,
        description: ''
      });
      Services.setTaskList(tasks.value);
      e.target.value = '';
    }
    const addGroup = (e) => {
      let {target: {value}} = e;
      if(!value.trim()) {
        return;
      }
      groups.value.push({
        id: generalId(),
        title: value
      });
      Services.setGroupList(groups.value);
      e.target.value = '';
    }
    const showForm = (task) => {
      taskSelected.value = task;
      cardForm.value.open();
    }
    const onUpdateTask = () => {
      const {
        id,
        title,
        description
      } = taskSelected.value;
      tasks.value.forEach(task => {
        if(task.id === id) {
          task = {
            ...task,
            title,
            description
          }
        }
      });
      Services.setTaskList(tasks.value);
      cardForm.value.close();
    }

    return {
      tasks,
      groups,
      taskSelected,
      cardForm,
      startDrag,
      onDrop,
      getTaskListByGroupID,
      addTask,
      addGroup,
      showForm,
      onUpdateTask
    }
  }
}
</script>

<style lang="scss">
  .group-item {
    display: flex;
    flex-direction: column;

    min-width: 300px;
    height: fit-content;
    border-radius: 4px;
    padding: 10px;

    background-color: #eee;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
  .groups {
    display: flex;
    height: 100vh;
    padding: 15px;

    overflow: auto;
  }
  .input-new-task {
    border: none;
    padding: 8px;
    font-size: 16px;
    flex: 1;

    background-color: transparent;
  }
  .input-new-group {
    padding: 8px;
    flex: 1;
    font-size: 16px;
  }
</style>