<template>
  <card-list />
</template>

<script>
import CardList from './components/CardList';

export default {
  name: "App",
  components: {
    CardList,
  }
};
</script>

<style>
  body {
    margin: 0;
    background-color: #4a9995
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
